.container {
  width: auto;
  height: 500px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 250px);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-items: center;
}
.description {
  color: #5ee97c;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  text-align: center;
  margin: inherit;
}
.price {
  color: #319b48;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin: inherit;
}

header {
  grid-row: 1;
  grid-column: 1/7;
  text-align: center;
}
* img {
  width: 8rem;
}

* img:hover {
  width: 10rem;
}

article {
  text-align: center;
  justify-self: center;
}

#uno {
  grid-row: 2;
  grid-column: 1/2;
  width: 8rem;
}
#dos {
  grid-row: 2;
  grid-column: 2/3;
}
#tres {
  grid-row: 2;
  grid-column: 3/4;
}
#cuatro {
  grid-row: 2;
  grid-column: 4/4;
}

#cinco {
  grid-row: 2;
  grid-column: 5/6;
}
#seis {
  grid-row: 2;
  grid-column: 6/6;
}
#siete {
  grid-row: 3;
  grid-column: 1/2;
}
#ocho {
  grid-row: 3;
  grid-column: 2/3;
}

#nueve {
  grid-row: 3;
  grid-column: 3/4;
}
#diez {
  grid-row: 3;
  grid-column: 4/5;
}
#once {
  grid-row: 3;
  grid-column: 5/6;
}
#doce {
  grid-row: 3;
  grid-column: 6/6;
}

#cesta {
  grid-row: 4;
  grid-column: 6/6;
  
}
