.sidebar {
  display: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #93dbe94d;
  position: fixed;
  height: 100%;
  overflow: auto;
}

#buttonSidebar {
  width: inherit;
  text-align: center;
  margin-top: 10px;
}

#buttonSidebar>button {
  background-color: azure;
}

/* Sidebar links */

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */

.sidebar a.active {
  background-color: #053680;
  color: white;
}

/* Links on mouse-over */

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.inputBasket {
  width: 1rem;
  text-align: center;
}

.container {
  width: auto;
  height: 500px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(6, 250px);
  grid-template-rows: repeat(4, 200px);
  justify-content: center;
  align-items: center;
}

.description {
  color: #5ee97c;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  text-align: center;
  margin: inherit;
}

.price {
  color: #319b48;
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin: inherit;
}

header {
  grid-row: 1;
  grid-column: 1/7;
  text-align: center;
}

.itemsImg {
  width: 8rem;
}

.itemsImg:hover {
  width: 10rem;
}

.stock {
  text-align: center;
  justify-self: center;
}

.articleBasket {
  text-align: center;
  margin-top: 10px;
}

#uno {
  grid-row: 2;
  grid-column: 1/2;
  width: 8rem;
}

#dos {
  grid-row: 2;
  grid-column: 2/3;
}

#tres {
  grid-row: 2;
  grid-column: 3/4;
}

#cuatro {
  grid-row: 2;
  grid-column: 4/4;
}

#cinco {
  grid-row: 2;
  grid-column: 5/6;
}

#seis {
  grid-row: 2;
  grid-column: 6/6;
}

#siete {
  grid-row: 3;
  grid-column: 1/2;
}

#ocho {
  grid-row: 3;
  grid-column: 2/3;
}

#nueve {
  grid-row: 3;
  grid-column: 3/4;
}

#diez {
  grid-row: 3;
  grid-column: 4/5;
}

#once {
  grid-row: 3;
  grid-column: 5/6;
}

#doce {
  grid-row: 3;
  grid-column: 6/6;
}

#cesta {
  grid-row: 4;
  grid-column: 6/6;
}

#sum {
  grid-row: 4;
  grid-column: 2/3;
}